index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1"/>
    <title>JXD - Juventud por el Desarrollo</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta name="description" content="Nuestra misión es contribuir en la creación de un nuevo concepto, conocimiento, promoción, difusión y capacitación, sobre la actividad política en los jóvenes de manera activa y responsable."/>
    <meta property="fb:admins" content="100000476487163"/>
    <meta property="og:description" content="Nuestra misión es contribuir en la creación de un nuevo concepto, conocimiento, promoción, difusión y capacitación, sobre la actividad política en los jóvenes de manera activa y responsable."/>
    <meta property="og:title" content="JXD - Juventud por el Desarrollo"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://jxd.pe/"/>
    <meta property="og:image" content="http://jxd.pe/img/jxd.jpg"/>
    <link rel="stylesheet" href="css/estilos.css"/>
  </head>
  <body>
    <div class="wrapper">
      <div class="nubes">
        <div id="sq1">
          <div class="circ1"></div>
          <div class="circ2"></div>
          <div class="circ3"></div>
        </div>
        <div id="sq2">
          <div class="circ1"></div>
          <div class="circ2"></div>
          <div class="circ3"></div>
        </div>
        <div id="sq3">
          <div class="circ1"></div>
          <div class="circ2"></div>
          <div class="circ3"></div>
        </div>
      </div>
      <section class="header">
        <div class="misti"></div>
        <div class="pasto"></div>
      </section>
      <div id="c01" class="circulos">
        <div id="menu"><a href="#cont1" class="circulo imgmenu"></a><a href="#cont2" class="circulo imgmenu1"></a><a href="#cont3" class="circulo imgmenu2"></a><a href="#cont4" class="circulo imgmenu3"></a>
        </div>
      </div>
      <div id="r01" class="cont_redes redes_mini">
        <div class="CourseExtraInfo-tweetsContainer"><a href="https://www.facebook.com/angel.huancamunoz/posts/690403604369825" target="_blank" class="CourseExtraInfo-tweet">
            <figure class="CourseExtraInfo-tweetAvatarContainer"><img src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10406718_689549004455285_5998347674528322009_n.jpg?oh=5a8e05bebe92e1459988dacaa88d1966&amp;oe=54CF33C6" class="CourseExtraInfo-tweetAvatar"/></figure>
            <div class="CourseExtraInfo-tweetContent"><strong class="CourseExtraInfo-tweetUser">angel.huancamunoz: <span class="icon-facebook"></span></strong>
              <p class="CourseExtraInfo-tweetText">‪#‎jxd‬ inscripciones abiertas.</p>
            </div></a><a href="https://www.facebook.com/javier.bonecloud.bringas/posts/1540677129497985" target="_blank" class="CourseExtraInfo-tweet">
            <figure class="CourseExtraInfo-tweetAvatarContainer"><img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/s720x720/1456006_1417944018437964_565747086_n.jpg?oh=25d43ce6fa7fdff40bb14c1475c3fd05&amp;oe=54C8C769&amp;__gda__=1422901672_153fe403e57874ba2ed500c54ef2dbcf" class="CourseExtraInfo-tweetAvatar"/></figure>
            <div class="CourseExtraInfo-tweetContent"><strong class="CourseExtraInfo-tweetUser">javier.bonecloud.bringas:  <span class="icon-facebook"></span></strong>
              <p class="CourseExtraInfo-tweetText">Mañana en Tv Unsa Auspiciando las Olimpiadas por el Desarrollo de Arequipa!!! no se lo pierdan!!! #‎jxd‬</p>
            </div></a><a href="https://www.facebook.com/photo.php?fbid=10203099250263071&amp;set=a.2173374534829.2110606.1260756371&amp;type=1&amp;theater" target="_blank" class="CourseExtraInfo-tweet">
            <figure class="CourseExtraInfo-tweetAvatarContainer"><img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn2/v/t1.0-9/s720x720/1001232_10200604007043550_1199307018_n.jpg?oh=dcbd7cfa304e7f4cbd051d233b98936e&amp;oe=54948CA5&amp;__gda__=1422749365_ddf726a6df395c1e48c87a7ddb90531a" class="CourseExtraInfo-tweetAvatar"/></figure>
            <div class="CourseExtraInfo-tweetContent"><strong class="CourseExtraInfo-tweetUser">luis.e.aragon.diaz</strong>
              <p class="CourseExtraInfo-tweetText">Skaters el 19 de Setiembre!!! con ‪#‎jxd‬ habrá premios</p>
            </div></a><a href="https://www.facebook.com/PlataformaEducativaJM/photos/gm.1558048337747308/591331704305030/?type=1" target="_blank" class="CourseExtraInfo-tweet">
            <figure class="CourseExtraInfo-tweetAvatarContainer"><img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10308124_528868017218066_6085203263445423596_n.png?oh=d44a14a10b23b22c43ebef8f93719654&amp;oe=5482ABC5&amp;__gda__=1418107055_e798a57d218b4385afb15f2577d33384" class="CourseExtraInfo-tweetAvatar"/></figure>
            <div class="CourseExtraInfo-tweetContent"><strong class="CourseExtraInfo-tweetUser">PlataformaEducativaJM</strong>
              <p class="CourseExtraInfo-tweetText">"Si eres skater, no descansaras hasta superarte a ti mismo" Ven, demuestras tus habilidades este Viernes 19 en el Concurso y exhibición de Skate y gana muchos premios. #jxd</p>
            </div></a><a href="https://www.facebook.com/edy.oZ.navarro/posts/928567887158226" target="_blank" class="CourseExtraInfo-tweet">
            <figure class="CourseExtraInfo-tweetAvatarContainer"><img src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10509575_894913893856959_4764121191249821315_n.jpg?oh=d65ef781fe89bde35af9bb1b7cde358c&amp;oe=54CB8010" class="CourseExtraInfo-tweetAvatar"/></figure>
            <div class="CourseExtraInfo-tweetContent"><strong class="CourseExtraInfo-tweetUser">edy.oZ.navarro</strong>
              <p class="CourseExtraInfo-tweetText">A dos días del gran evento! #‎jxd‬</p>
            </div></a></div>
      </div>
      <div id="m01" class="munieco_mensaje">
        <div id="menu"><a class="minieco"></a>
        </div>
        <div class="mensaje">
          <h1 class="palabra1">Juventud</h1>
          <h3 class="palabra2">por el Desarrollo</h3>
        </div>
      </div>
      <section class="contenido">
        <div class="scrol-horizontal">
          <div id="m02" class="minieco2"></div><a href="#" title="Cerrar" class="cerrar"><span class="icon-cancel-circle"></span></a>
          <section id="cont1" class="cont">
            <h2>Olimpiadas por el Desarrollo de Arequipa</h2><br/>
            <div id="planes" class="planes-inicio">
              <div class="plan">
                <div class="imgplan3"></div>
                <div class="caracteristicas">
                  <h3>Bandas de Rock</h3>
                  <div class="scroll-plan">
                    <p>Inscripción Gratuita</p>
                    <p><b>Premios:</b></p>
                    <p style="height:auto">Grabación de un single en Alive Studio</p>
                    <p style="height:auto">Videoclip con BackStage producciones</p>
                    <p style="height:auto">Contacto: &nbsp;<a href="https://www.facebook.com/kabuman" target="_blank">kabuman</a></p>
                    <p style="height:auto">+ Información &nbsp;<a href="https://docs.google.com/document/d/1RqYQixnV65gm46vkJIQ1YcZdvnur1IUxNjDaqIDkgUI/pub" target="_blank">Clic Aqui</a></p>
                  </div>
                </div><a id="compra1" class="comprar">Regístrate</a>
              </div>
              <div class="plan">
                <div class="imgplan2"></div>
                <div class="caracteristicas">
                  <h3>Baile Moderno</h3>
                  <p>Inscripción Gratuita</p>
                  <p>S/. 1700 en premios</p>
                  <p style="height:auto">+ Información &nbsp;<a href="https://docs.google.com/a/jm.edu.pe/document/d/1UDqKi0F3hO4GzcXDUrrqHeV8hcEMb95FxpZBtSVMbsU/pub" target="_blank">Clic Aquí</a></p><a id="compra2" class="comprar">Regístrate</a>
                </div>
              </div>
              <div class="plan">
                <div class="imgplan1"></div>
                <div class="caracteristicas">
                  <h3>Ajedrez</h3>
                  <p>Inscripción Gratuita</p>
                  <p>S/.1400 en Premios</p>
                  <p style="height:auto">+ Información en &nbsp;<a href="http://ajedrez.pe/torneo-regional-viernes-19-de-setiembre-del-300-p-m-hora-exacta-1500-00-nuevos-soles-en-premios/" target="_blank">Ajedrez.pe</a></p><a id="compra3" class="comprar">Regístrate</a>
                </div>
              </div>
              <div class="plan">
                <div class="imgplan4"></div>
                <div class="caracteristicas">
                  <h3>YuGi-Oh</h3>
                  <p>Inscripción Gratuita</p>
                  <p>A las 11:00 am</p><a id="compra4" class="comprar">Regístrate</a>
                </div>
              </div>
              <div class="plan">
                <div class="imgplan5"></div>
                <div class="caracteristicas">
                  <h3>Cubo de Rubick</h3>
                  <p>Inscripción Gratuita</p>
                  <p>A la 1:00 pm</p><a id="compra5" class="comprar">Regístrate</a>
                </div>
              </div>
              <div class="plan">
                <div class="imgplan6"></div>
                <div class="caracteristicas">
                  <h3>Skate</h3>
                  <p>Inscripción Gratuita</p>
                  <p>S/.1440 en Premios</p><a class="compraroff">Regístrate</a>
                </div>
              </div><br/><br/>
            </div>
            <div id="categoria3">
              <div class="planes">
                <div class="btn-form atras">Categorias</div><br/>
                <div class="plan">
                  <div class="imgplan1"></div>
                  <div class="caracteristicas">
                    <h3>DOTA 2</h3>
                    <p>Inscripción Gratuita</p>
                    <p>S/.1400 en Premios</p>
                    <p>Hasta 50 teams</p>
                    <p>5 por equipo</p>
                    <p>Juego Online</p>
                    <p style="height:auto">+ Información en &nbsp;<a href="http://ajedrez.pe/torneo-regional-viernes-19-de-setiembre-del-300-p-m-hora-exacta-1500-00-nuevos-soles-en-premios/" target="_blank">Ajedrez.pe</a></p>
                  </div>
                </div>
              </div>
              <div id="formularios">
                <form action="" id="dota" class="frmcosplay">
                  <div class="grid grid-pad padding">
                    <div class="col-1-2">
                      <h4>Nombre del equipo</h4>
                      <input type="text" required="required" tabindex="1" name="nombreequipo"/>
                    </div>
                    <div class="col-1-2">
                      <h4>Logo (url)</h4>
                      <input type="text" required="required" tabindex="2" name="logoequipo"/>
                    </div>
                  </div>
                  <div class="grid grid-pad padding">
                    <div class="col-1-2">
                      <center>
                        <h4>1 Gamer</h4>
                      </center><span class="titulo">Nombre</span>
                      <!-- required-->
                      <input type="text" required="required" tabindex="3" name="nombre1"/><br/><span class="titulo">Apellidos</span>
                      <input type="text" required="required" tabindex="4" name="apellidos1"/><br/><span class="titulo">Correo</span>
                      <input type="email" required="required" tabindex="5" name="correo1"/><br/><span class="titulo">Código o DNI</span>
                      <input type="text" required="required" tabindex="6" name="codigo1"/><br/><span class="titulo">Perfil de Steam (URL)</span>
                      <input type="text" required="required" tabindex="7" name="steam1"/><br/><br/>
                      <hr class="hr"/><br/>
                      <center>
                        <h4>3 Gamer</h4>
                      </center><span class="titulo">Nombre</span>
                      <input type="text" required="required" tabindex="13" name="nombre3"/><br/><span class="titulo">Apellidos</span>
                      <input type="text" required="required" tabindex="14" name="apellidos3"/><br/><span class="titulo">Correo</span>
                      <input type="email" required="required" tabindex="15" name="correo3"/><br/><span class="titulo">Código o DNI</span>
                      <input type="text" required="required" tabindex="16" name="codigo3"/><br/><span class="titulo">Perfil de Steam (URL)</span>
                      <input type="text" required="required" tabindex="17" name="steam3"/><br/><br/>
                      <hr class="hr"/><br/>
                      <center>
                        <h4>5 Gamer</h4>
                      </center><span class="titulo">Nombre</span>
                      <input type="text" required="required" tabindex="23" name="nombre5"/><br/><span class="titulo">Apellidos</span>
                      <input type="text" required="required" tabindex="24" name="apellidos5"/><br/><span class="titulo">Correo</span>
                      <input type="email" required="required" tabindex="25" name="correo5"/><br/><span class="titulo">Código o DNI</span>
                      <input type="text" required="required" tabindex="26" name="codigo5"/><br/><span class="titulo">Perfil de Steam (URL)</span>
                      <input type="text" required="required" tabindex="27" name="steam5"/>
                    </div>
                    <div class="col-1-2">
                      <center>
                        <h4>2 Gamer</h4>
                      </center><span class="titulo">Nombre</span>
                      <input type="text" required="required" tabindex="8" name="nombre2"/><br/><span class="titulo">Apellidos</span>
                      <input type="text" required="required" tabindex="9" name="apellidos2"/><br/><span class="titulo">Correo</span>
                      <input type="email" required="required" tabindex="10" name="correo2"/><br/><span class="titulo">Código o DNI</span>
                      <input type="text" required="required" tabindex="11" name="codigo2"/><br/><span class="titulo">Perfil de Steam (URL)</span>
                      <input type="text" required="required" tabindex="12" name="steam2"/><br/><br/>
                      <hr class="hr"/><br/>
                      <center>
                        <h4>4 Gamer</h4>
                      </center><span class="titulo">Nombre</span>
                      <input type="text" required="required" tabindex="18" name="nombre4"/><br/><span class="titulo">Apellidos</span>
                      <input type="text" required="required" tabindex="19" name="apellidos4"/><br/><span class="titulo">Correo</span>
                      <input type="email" required="required" tabindex="20" name="correo4"/><br/><span class="itulo">Código o DNI</span>
                      <input type="text" required="required" tabindex="21" name="codigo4"/><br/><span class="titulo">Perfil de Steam (URL)</span>
                      <input type="text" required="required" tabindex="22" name="steam4"/>
                    </div>
                  </div>
                  <center>
                    <button type="submit" tabindex="28" class="boton-verde">Inscríbete</button>
                  </center>
                </form>
              </div>
            </div>
          </section>
        </div>
        <section id="cont2" class="cont">
          <p>contenido 2</p>
        </section>
        <section id="cont3" class="cont">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error accusantium, laudantium possimus recusandae eaque dolor, aperiam assumenda ipsum sapiente facere, reprehenderit magni maiores. Consequatur doloremque rem facere alias. Et eaque corporis excepturi quos repudiandae, molestias obcaecati distinctio adipisci eveniet dolor atque cum perferendis. Sequi id dolorum necessitatibus quia impedit, nemo natus unde, similique nesciunt rem facere ad alias sapiente odio tenetur incidunt doloremque recusandae est repellat accusantium, cupiditate. Explicabo quas sapiente similique cupiditate modi incidunt debitis quos nisi ipsam nobis, quisquam asperiores quibusdam, ipsum velit. Atque animi doloremque, harum neque sunt sed laudantium illo eum incidunt consequatur dolor non nesciunt nisi expedita nulla ab suscipit quidem tempora! Asperiores, qui, reprehenderit. Expedita, eligendi, harum. Vero veritatis nihil commodi fugit quisquam iste expedita dolores dicta, obcaecati totam architecto ullam, nam facilis cum iure debitis deleniti accusantium. Iste, cumque, soluta. Provident iusto illum nihil rem tempore obcaecati, harum totam hic voluptates assumenda quia, quae, excepturi necessitatibus dolores nostrum amet vitae est. Hic consectetur placeat vitae veritatis distinctio, illo saepe, accusamus, ipsum provident voluptate, doloremque laboriosam officiis quasi earum veniam reiciendis corrupti dolorum dicta quam ab? Impedit, necessitatibus excepturi? Ipsa eligendi, quae eius magni porro, quibusdam dolor animi tempora non nisi ipsam asperiores a. Nemo eveniet dolorum nihil fugit natus id obcaecati nulla quasi laborum, dolorem culpa, delectus, odit itaque veritatis, autem alias a! Quam minus accusantium enim dolores cum quidem non, amet, omnis error sequi? Cumque eveniet animi, nostrum assumenda minima? Sint laudantium atque, est quidem reprehenderit corrupti recusandae nostrum totam aspernatur quis et autem excepturi fuga quisquam mollitia quibusdam placeat iusto, delectus facilis doloribus, dignissimos aperiam accusantium officia amet. Iusto praesentium tempore, blanditiis possimus vitae repudiandae. Autem vero commodi, praesentium doloribus illo debitis ullam consequatur, cum reprehenderit natus pariatur maxime labore est a dolorum, harum quia quisquam. Facilis deserunt vitae, laborum recusandae atque consequuntur quam asperiores autem a. Doloremque dolore obcaecati magnam quidem et, fugiat voluptas. Animi possimus obcaecati neque mollitia alias blanditiis, corrupti sapiente, ducimus dolorem, architecto illum atque aliquid veniam expedita? Similique exercitationem, velit! Voluptatem ipsa ipsum iste architecto magnam repellat eligendi blanditiis, maiores sed numquam facere doloremque adipisci odit voluptatibus reprehenderit veniam alias eveniet, iure? Aspernatur tempore tempora inventore, eum voluptate aliquam molestiae provident. Labore modi et dolor tempore atque fuga maiores inventore, odio quasi eum, expedita similique quibusdam quod laudantium quia adipisci earum deleniti dicta. Vitae, aliquid suscipit commodi inventore tempora porro, voluptatem esse accusamus laudantium saepe pariatur ex similique possimus, minima quam recusandae quibusdam nihil temporibus placeat veritatis! Tempora eos doloremque quas. Aut eius ut in a similique nihil consequuntur voluptas vitae cum! Perspiciatis animi minus officia voluptate facilis nam magnam obcaecati. Dolorum nemo omnis maiores commodi, qui, tenetur consectetur praesentium sed expedita voluptates, deserunt porro. Ut odio nostrum nihil dolorem optio cumque voluptate animi similique, doloremque exercitationem, modi non earum? Omnis, debitis est et porro quisquam. Molestias ipsa, ducimus accusamus ipsum labore minima aperiam, doloremque ullam quaerat itaque commodi laboriosam odio fugiat odit recusandae, voluptate neque veritatis ad, iusto dolorem tempora quam. Autem velit perferendis minima voluptatum quod blanditiis molestiae, ipsa distinctio officiis soluta officia, totam aliquam quos dolorum, labore harum eum assumenda animi? Distinctio labore, inventore cumque tempore odio dolore facere nemo iusto? Blanditiis expedita ipsam facilis architecto, beatae consequuntur voluptates maiores, quia accusantium voluptas, illo vero illum impedit eos, inventore aspernatur. Rerum aliquid animi officia amet, consequuntur minima autem quod cum eaque et suscipit rem magnam tenetur, vel praesentium. Laboriosam natus, labore dolores debitis! Natus quod veritatis nam quidem, harum reiciendis blanditiis id recusandae incidunt iusto dignissimos facere voluptas laborum, magni est? Ab numquam rem aliquam, animi sed ullam beatae sequi quam. Quidem harum repellendus aliquam eveniet doloremque velit nam facilis facere maiores cupiditate officia laboriosam rerum suscipit eos perferendis ea iure iusto officiis assumenda, eum expedita error adipisci qui. Ab porro perspiciatis impedit expedita quos, dolorum saepe magnam quaerat officiis beatae architecto sint voluptatem ex, cumque, accusantium recusandae, molestiae soluta eaque magni qui distinctio enim repudiandae quae. Nostrum ea unde molestiae, porro odit laboriosam obcaecati provident aspernatur iste mollitia neque perspiciatis perferendis iure expedita nesciunt hic vel magni quaerat vero. Culpa voluptatum corrupti temporibus dolores itaque laborum distinctio sint facere, ipsum asperiores, amet, atque qui cum, maxime officiis fugit! Autem quae excepturi debitis, nihil veritatis. Quos non ullam quaerat eaque eum! Maxime tempora vero pariatur temporibus, quae ut, culpa, accusamus voluptatem suscipit qui eligendi cum optio repellat nobis odio. Quia fugit quasi unde distinctio tempore ut nostrum voluptatibus eligendi voluptatem eius doloremque temporibus facere, veritatis nesciunt dignissimos provident similique aspernatur quaerat possimus minima ducimus obcaecati! Modi fugiat, asperiores beatae sit totam suscipit praesentium sequi nemo nostrum, nihil corrupti eum, fugit odio voluptates molestias. Dolorem maiores sed praesentium modi optio accusantium, officia perferendis asperiores esse iusto, ex repellat obcaecati nesciunt voluptates nihil sequi accusamus eum vero unde voluptas debitis dolorum! Neque animi, non voluptas.</p>
        </section>
        <section id="cont4" class="cont">
          <h2>Ubicación</h2><br/>
          <center>
            <iframe src="https://www.google.com/maps/embed?pb=!1m25!1m12!1m3!1d3826.850035089895!2d-71.54482646229108!3d-16.43244100955742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m10!1i0!3e2!4m3!3m2!1d-16.4308408!2d-71.544451!4m3!3m2!1d-16.433794199999998!2d-71.5443329!5e0!3m2!1ses!2spe!4v1410896365464" width="600" height="450" frameborder="0"></iframe>
          </center>
          <h2>Distribución</h2>
          <center><img src="img/distribucion_cerro_juli.png" class="img_distribucion"/></center>
        </section>
        <section id="cont5" class="cont">
          <p>contenido 5</p>
        </section>
        <section id="cont6" class="cont"></section>
        <section id="cont7" class="cont">
          <div class="videoWrapper">
            <iframe src="http://www.hitbox.tv/embed/arequipagamers?popout=true&amp;autoplay=false"></iframe>
          </div>
        </section>
      </section>
    </div>
    <div class="faltapara"><span class="falta-texto"><a href="https://www.facebook.com/events/1555393368012805/" target="_blank">
          <div class="countdown">
            <div class="counter">
              <div><span class="dias"></span><span> Días</span></div>
              <div><span class="horas"></span><span> Horas</span></div>
              <div><span class="minutos"></span><span> Minutos</span></div>
              <div><span class="segundos"></span><span> Segundos</span></div>
            </div>
            <hr class="hr"/>
            <div class="countdown_fecha"><span>Para las</span><br/><span><b>Olimpiadas por el Desarrollo de Arequipa</b></span>
            </div>
          </div></a></span>
    </div>
    <div class="evento_en_vivo">
      <div id="menu"><a href="#cont7"><img src="img/dota-en-vivo.jpg"/></a></div>
    </div>
    <div id="mensaje"></div>
    <script src="js/main.min.js"></script>
  </body>
</html>

jade/index.jade
<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1")
		title JXD - Juventud por el Desarrollo
		link(rel="shortcut icon", href="favicon.ico")
		meta(name="description", content="Nuestra misión es contribuir en la creación de un nuevo concepto, conocimiento, promoción, difusión y capacitación, sobre la actividad política en los jóvenes de manera activa y responsable.")
		meta(property="fb:admins", content="100000476487163")
		meta(property="og:description", content="Nuestra misión es contribuir en la creación de un nuevo concepto, conocimiento, promoción, difusión y capacitación, sobre la actividad política en los jóvenes de manera activa y responsable.")
		meta(property="og:title", content="JXD - Juventud por el Desarrollo")
		meta(property="og:type", content="website")
		meta(property="og:url", content="http://jxd.pe/")
		meta(property="og:image" content="http://jxd.pe/img/jxd.jpg")
		link(rel="stylesheet", href="css/estilos.css")
	body
		.wrapper
			.nubes
				#sq1
					.circ1
					.circ2
					.circ3
				#sq2
					.circ1
					.circ2
					.circ3
				#sq3
					.circ1
					.circ2
					.circ3
			section.header
				.misti
				.pasto
			.circulos#c01
				#menu
					a(href="#cont1").circulo.imgmenu
					a(href="#cont2").circulo.imgmenu1
					a(href="#cont3").circulo.imgmenu2
					a(href="#cont4").circulo.imgmenu3
					//- a(href="#cont5").circulo.imgmenu4
			.cont_redes.redes_mini#r01
				.CourseExtraInfo-tweetsContainer
					a(href="https://www.facebook.com/angel.huancamunoz/posts/690403604369825", class="CourseExtraInfo-tweet", target="_blank")
						figure.CourseExtraInfo-tweetAvatarContainer
							img(src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10406718_689549004455285_5998347674528322009_n.jpg?oh=5a8e05bebe92e1459988dacaa88d1966&oe=54CF33C6", class="CourseExtraInfo-tweetAvatar")
						.CourseExtraInfo-tweetContent
							strong.CourseExtraInfo-tweetUser angel.huancamunoz: <span class="icon-facebook"></span>
							p.CourseExtraInfo-tweetText ‪#‎jxd‬ inscripciones abiertas.
					a(href="https://www.facebook.com/javier.bonecloud.bringas/posts/1540677129497985", class="CourseExtraInfo-tweet", target="_blank")
						figure.CourseExtraInfo-tweetAvatarContainer
							img(src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/s720x720/1456006_1417944018437964_565747086_n.jpg?oh=25d43ce6fa7fdff40bb14c1475c3fd05&oe=54C8C769&__gda__=1422901672_153fe403e57874ba2ed500c54ef2dbcf", class="CourseExtraInfo-tweetAvatar")
						.CourseExtraInfo-tweetContent
							strong.CourseExtraInfo-tweetUser javier.bonecloud.bringas:  <span class="icon-facebook"></span>
							p.CourseExtraInfo-tweetText Mañana en Tv Unsa Auspiciando las Olimpiadas por el Desarrollo de Arequipa!!! no se lo pierdan!!! #‎jxd‬
					a(href="https://www.facebook.com/photo.php?fbid=10203099250263071&set=a.2173374534829.2110606.1260756371&type=1&theater", class="CourseExtraInfo-tweet", target="_blank")
						figure.CourseExtraInfo-tweetAvatarContainer
							img(src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn2/v/t1.0-9/s720x720/1001232_10200604007043550_1199307018_n.jpg?oh=dcbd7cfa304e7f4cbd051d233b98936e&oe=54948CA5&__gda__=1422749365_ddf726a6df395c1e48c87a7ddb90531a", class="CourseExtraInfo-tweetAvatar")
						.CourseExtraInfo-tweetContent
							strong.CourseExtraInfo-tweetUser luis.e.aragon.diaz
							p.CourseExtraInfo-tweetText Skaters el 19 de Setiembre!!! con ‪#‎jxd‬ habrá premios
					a(href="https://www.facebook.com/PlataformaEducativaJM/photos/gm.1558048337747308/591331704305030/?type=1", class="CourseExtraInfo-tweet", target="_blank")
						figure.CourseExtraInfo-tweetAvatarContainer
							img(src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10308124_528868017218066_6085203263445423596_n.png?oh=d44a14a10b23b22c43ebef8f93719654&oe=5482ABC5&__gda__=1418107055_e798a57d218b4385afb15f2577d33384", class="CourseExtraInfo-tweetAvatar")
						.CourseExtraInfo-tweetContent
							strong.CourseExtraInfo-tweetUser PlataformaEducativaJM
							p.CourseExtraInfo-tweetText "Si eres skater, no descansaras hasta superarte a ti mismo" Ven, demuestras tus habilidades este Viernes 19 en el Concurso y exhibición de Skate y gana muchos premios. #jxd
					a(href="https://www.facebook.com/edy.oZ.navarro/posts/928567887158226", class="CourseExtraInfo-tweet", target="_blank")
						figure.CourseExtraInfo-tweetAvatarContainer
							img(src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10509575_894913893856959_4764121191249821315_n.jpg?oh=d65ef781fe89bde35af9bb1b7cde358c&oe=54CB8010", class="CourseExtraInfo-tweetAvatar")
						.CourseExtraInfo-tweetContent
							strong.CourseExtraInfo-tweetUser edy.oZ.navarro
							p.CourseExtraInfo-tweetText A dos días del gran evento! #‎jxd‬
			//- .tiempo-falta#f01
			.munieco_mensaje#m01
				#menu
					//- a(href="#cont6" class="minieco")
					a(class="minieco")
				.mensaje
					h1.palabra1 Juventud
					h3.palabra2 por el Desarrollo
			section.contenido
				.scrol-horizontal
					.minieco2#m02
					a(href="#", class="cerrar", title="Cerrar")
						span.icon-cancel-circle
					section#cont1.cont
						h2 Olimpiadas por el Desarrollo de Arequipa
						br
						.planes-inicio#planes
							.plan
								.imgplan3
								.caracteristicas
									h3 Bandas de Rock
									.scroll-plan
										p Inscripción Gratuita
										p <b>Premios:</b>
										p(style="height:auto") Grabación de un single en Alive Studio
										p(style="height:auto") Videoclip con BackStage producciones
										p(style="height:auto") Contacto: &nbsp;
											a(href="https://www.facebook.com/kabuman", target="_blank") kabuman
										p(style="height:auto") + Información &nbsp;
											a(href="https://docs.google.com/document/d/1RqYQixnV65gm46vkJIQ1YcZdvnur1IUxNjDaqIDkgUI/pub", target="_blank") Clic Aqui
								a(id="compra1", class="comprar") Regístrate
								//- a(class="compraroff") Regístrate
							.plan
								.imgplan2
								.caracteristicas
									h3 Baile Moderno
									p Inscripción Gratuita
									p S/. 1700 en premios
									p(style="height:auto") + Información &nbsp;
										a(href="https://docs.google.com/a/jm.edu.pe/document/d/1UDqKi0F3hO4GzcXDUrrqHeV8hcEMb95FxpZBtSVMbsU/pub", target="_blank") Clic Aquí
									a(id="compra2", class="comprar") Regístrate
									//- a(class="compraroff") Regístrate
							.plan
								.imgplan1
								.caracteristicas
									h3 Ajedrez
									p Inscripción Gratuita
									p S/.1400 en Premios
									p(style="height:auto") + Información en &nbsp;
										a(href="http://ajedrez.pe/torneo-regional-viernes-19-de-setiembre-del-300-p-m-hora-exacta-1500-00-nuevos-soles-en-premios/", target="_blank") Ajedrez.pe
									a(id="compra3", class="comprar") Regístrate
									//- a(class="compraroff") Regístrate
							.plan
								.imgplan4
								.caracteristicas
									h3 YuGi-Oh
									p Inscripción Gratuita
									p A las 11:00 am
									//- p(style="height:auto") Mayor Información en &nbsp;
									//- 	a(href="http://ajedrez.pe/torneo-regional-viernes-19-de-setiembre-del-300-p-m-hora-exacta-1500-00-nuevos-soles-en-premios/", target="_blank") Ajedrez.pe
									a(id="compra4", class="comprar") Regístrate
									//- a(class="compraroff") Regístrate
							.plan
								.imgplan5
								.caracteristicas
									h3 Cubo de Rubick
									p Inscripción Gratuita
									p A la 1:00 pm
									//- p(style="height:auto") Mayor Información en &nbsp;
									//- 	a(href="http://ajedrez.pe/torneo-regional-viernes-19-de-setiembre-del-300-p-m-hora-exacta-1500-00-nuevos-soles-en-premios/", target="_blank") Ajedrez.pe
									a(id="compra5", class="comprar") Regístrate
									//- a(class="compraroff") Regístrate
							.plan
								.imgplan6
								.caracteristicas
									h3 Skate
									p Inscripción Gratuita
									p S/.1440 en Premios
									//- p(style="height:auto") Mayor Información en &nbsp;
									//- 	a(href="http://ajedrez.pe/torneo-regional-viernes-19-de-setiembre-del-300-p-m-hora-exacta-1500-00-nuevos-soles-en-premios/", target="_blank") Ajedrez.pe
									//- a(id="compra6", class="comprar") Regístrate
									a(class="compraroff") Regístrate
							br
							br
						#categoria3
							.planes
								.btn-form.atras Categorias
								br
								.plan
									.imgplan1
									.caracteristicas
										h3 DOTA 2
										p Inscripción Gratuita
										p S/.1400 en Premios
										p Hasta 50 teams
										p 5 por equipo
										p Juego Online
										p(style="height:auto") + Información en &nbsp;
											a(href="http://ajedrez.pe/torneo-regional-viernes-19-de-setiembre-del-300-p-m-hora-exacta-1500-00-nuevos-soles-en-premios/", target="_blank") Ajedrez.pe
							#formularios
								form(action="", class="frmcosplay", id="dota")
									.grid.grid-pad.padding
											.col-1-2
												h4 Nombre del equipo
												input(type="text", required, tabindex="1", name="nombreequipo")
											.col-1-2
												h4 Logo (url)
												input(type="text", required, tabindex="2", name="logoequipo")
									.grid.grid-pad.padding
										.col-1-2
											center
												h4 1 Gamer
											span.titulo Nombre
											// required
											input(type="text", required, tabindex="3", name="nombre1")
											br
											span.titulo Apellidos
											input(type="text", required, tabindex="4", name="apellidos1")
											br
											span.titulo Correo
											input(type="email", required, tabindex="5", name="correo1")
											br
											span.titulo Código o DNI
											input(type="text", required, tabindex="6", name="codigo1")
											br
											span.titulo Perfil de Steam (URL)
											input(type="text", required, tabindex="7", name="steam1")
											br
											br
											hr.hr
											br
											center
												h4 3 Gamer
											span.titulo Nombre
											input(type="text", required, tabindex="13", name="nombre3")
											br
											span.titulo Apellidos
											input(type="text", required, tabindex="14", name="apellidos3")
											br
											span.titulo Correo
											input(type="email", required, tabindex="15", name="correo3")
											br
											span.titulo Código o DNI
											input(type="text", required, tabindex="16", name="codigo3")
											br
											span.titulo Perfil de Steam (URL)
											input(type="text", required, tabindex="17", name="steam3")
											br
											br
											hr.hr
											br
											center
												h4 5 Gamer
											span.titulo Nombre
											input(type="text", required, tabindex="23", name="nombre5")
											br
											span.titulo Apellidos
											input(type="text", required, tabindex="24", name="apellidos5")
											br
											span.titulo Correo
											input(type="email", required, tabindex="25", name="correo5")
											br
											span.titulo Código o DNI
											input(type="text", required, tabindex="26", name="codigo5")
											br
											span.titulo Perfil de Steam (URL)
											input(type="text", required, tabindex="27", name="steam5")
										.col-1-2
											center
												h4 2 Gamer
											span.titulo Nombre
											input(type="text", required, tabindex="8", name="nombre2")
											br
											span.titulo Apellidos
											input(type="text", required, tabindex="9", name="apellidos2")
											br
											span.titulo Correo
											input(type="email", required, tabindex="10", name="correo2")
											br
											span.titulo Código o DNI
											input(type="text", required, tabindex="11", name="codigo2")
											br
											span.titulo Perfil de Steam (URL)
											input(type="text", required, tabindex="12", name="steam2")
											br
											br
											hr.hr
											br
											center
												h4 4 Gamer
											span.titulo Nombre
											input(type="text", required, tabindex="18", name="nombre4")
											br
											span.titulo Apellidos
											input(type="text", required, tabindex="19", name="apellidos4")
											br
											span.titulo Correo
											input(type="email", required, tabindex="20", name="correo4")
											br
											span.itulo Código o DNI
											input(type="text", required, tabindex="21", name="codigo4")
											br
											span.titulo Perfil de Steam (URL)
											input(type="text", required, tabindex="22", name="steam4")
									center
										button(type="submit", class="boton-verde", tabindex="28") Inscríbete
				section#cont2.cont
					p contenido 2
				section#cont3.cont
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error accusantium, laudantium possimus recusandae eaque dolor, aperiam assumenda ipsum sapiente facere, reprehenderit magni maiores. Consequatur doloremque rem facere alias. Et eaque corporis excepturi quos repudiandae, molestias obcaecati distinctio adipisci eveniet dolor atque cum perferendis. Sequi id dolorum necessitatibus quia impedit, nemo natus unde, similique nesciunt rem facere ad alias sapiente odio tenetur incidunt doloremque recusandae est repellat accusantium, cupiditate. Explicabo quas sapiente similique cupiditate modi incidunt debitis quos nisi ipsam nobis, quisquam asperiores quibusdam, ipsum velit. Atque animi doloremque, harum neque sunt sed laudantium illo eum incidunt consequatur dolor non nesciunt nisi expedita nulla ab suscipit quidem tempora! Asperiores, qui, reprehenderit. Expedita, eligendi, harum. Vero veritatis nihil commodi fugit quisquam iste expedita dolores dicta, obcaecati totam architecto ullam, nam facilis cum iure debitis deleniti accusantium. Iste, cumque, soluta. Provident iusto illum nihil rem tempore obcaecati, harum totam hic voluptates assumenda quia, quae, excepturi necessitatibus dolores nostrum amet vitae est. Hic consectetur placeat vitae veritatis distinctio, illo saepe, accusamus, ipsum provident voluptate, doloremque laboriosam officiis quasi earum veniam reiciendis corrupti dolorum dicta quam ab? Impedit, necessitatibus excepturi? Ipsa eligendi, quae eius magni porro, quibusdam dolor animi tempora non nisi ipsam asperiores a. Nemo eveniet dolorum nihil fugit natus id obcaecati nulla quasi laborum, dolorem culpa, delectus, odit itaque veritatis, autem alias a! Quam minus accusantium enim dolores cum quidem non, amet, omnis error sequi? Cumque eveniet animi, nostrum assumenda minima? Sint laudantium atque, est quidem reprehenderit corrupti recusandae nostrum totam aspernatur quis et autem excepturi fuga quisquam mollitia quibusdam placeat iusto, delectus facilis doloribus, dignissimos aperiam accusantium officia amet. Iusto praesentium tempore, blanditiis possimus vitae repudiandae. Autem vero commodi, praesentium doloribus illo debitis ullam consequatur, cum reprehenderit natus pariatur maxime labore est a dolorum, harum quia quisquam. Facilis deserunt vitae, laborum recusandae atque consequuntur quam asperiores autem a. Doloremque dolore obcaecati magnam quidem et, fugiat voluptas. Animi possimus obcaecati neque mollitia alias blanditiis, corrupti sapiente, ducimus dolorem, architecto illum atque aliquid veniam expedita? Similique exercitationem, velit! Voluptatem ipsa ipsum iste architecto magnam repellat eligendi blanditiis, maiores sed numquam facere doloremque adipisci odit voluptatibus reprehenderit veniam alias eveniet, iure? Aspernatur tempore tempora inventore, eum voluptate aliquam molestiae provident. Labore modi et dolor tempore atque fuga maiores inventore, odio quasi eum, expedita similique quibusdam quod laudantium quia adipisci earum deleniti dicta. Vitae, aliquid suscipit commodi inventore tempora porro, voluptatem esse accusamus laudantium saepe pariatur ex similique possimus, minima quam recusandae quibusdam nihil temporibus placeat veritatis! Tempora eos doloremque quas. Aut eius ut in a similique nihil consequuntur voluptas vitae cum! Perspiciatis animi minus officia voluptate facilis nam magnam obcaecati. Dolorum nemo omnis maiores commodi, qui, tenetur consectetur praesentium sed expedita voluptates, deserunt porro. Ut odio nostrum nihil dolorem optio cumque voluptate animi similique, doloremque exercitationem, modi non earum? Omnis, debitis est et porro quisquam. Molestias ipsa, ducimus accusamus ipsum labore minima aperiam, doloremque ullam quaerat itaque commodi laboriosam odio fugiat odit recusandae, voluptate neque veritatis ad, iusto dolorem tempora quam. Autem velit perferendis minima voluptatum quod blanditiis molestiae, ipsa distinctio officiis soluta officia, totam aliquam quos dolorum, labore harum eum assumenda animi? Distinctio labore, inventore cumque tempore odio dolore facere nemo iusto? Blanditiis expedita ipsam facilis architecto, beatae consequuntur voluptates maiores, quia accusantium voluptas, illo vero illum impedit eos, inventore aspernatur. Rerum aliquid animi officia amet, consequuntur minima autem quod cum eaque et suscipit rem magnam tenetur, vel praesentium. Laboriosam natus, labore dolores debitis! Natus quod veritatis nam quidem, harum reiciendis blanditiis id recusandae incidunt iusto dignissimos facere voluptas laborum, magni est? Ab numquam rem aliquam, animi sed ullam beatae sequi quam. Quidem harum repellendus aliquam eveniet doloremque velit nam facilis facere maiores cupiditate officia laboriosam rerum suscipit eos perferendis ea iure iusto officiis assumenda, eum expedita error adipisci qui. Ab porro perspiciatis impedit expedita quos, dolorum saepe magnam quaerat officiis beatae architecto sint voluptatem ex, cumque, accusantium recusandae, molestiae soluta eaque magni qui distinctio enim repudiandae quae. Nostrum ea unde molestiae, porro odit laboriosam obcaecati provident aspernatur iste mollitia neque perspiciatis perferendis iure expedita nesciunt hic vel magni quaerat vero. Culpa voluptatum corrupti temporibus dolores itaque laborum distinctio sint facere, ipsum asperiores, amet, atque qui cum, maxime officiis fugit! Autem quae excepturi debitis, nihil veritatis. Quos non ullam quaerat eaque eum! Maxime tempora vero pariatur temporibus, quae ut, culpa, accusamus voluptatem suscipit qui eligendi cum optio repellat nobis odio. Quia fugit quasi unde distinctio tempore ut nostrum voluptatibus eligendi voluptatem eius doloremque temporibus facere, veritatis nesciunt dignissimos provident similique aspernatur quaerat possimus minima ducimus obcaecati! Modi fugiat, asperiores beatae sit totam suscipit praesentium sequi nemo nostrum, nihil corrupti eum, fugit odio voluptates molestias. Dolorem maiores sed praesentium modi optio accusantium, officia perferendis asperiores esse iusto, ex repellat obcaecati nesciunt voluptates nihil sequi accusamus eum vero unde voluptas debitis dolorum! Neque animi, non voluptas.
				section#cont4.cont
					h2 Ubicación
					br
					center
						iframe(src="https://www.google.com/maps/embed?pb=!1m25!1m12!1m3!1d3826.850035089895!2d-71.54482646229108!3d-16.43244100955742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m10!1i0!3e2!4m3!3m2!1d-16.4308408!2d-71.544451!4m3!3m2!1d-16.433794199999998!2d-71.5443329!5e0!3m2!1ses!2spe!4v1410896365464", width="600", height="450", frameborder="0")
					h2 Distribución
					center
						img(src="img/distribucion_cerro_juli.png", class="img_distribucion")
				section#cont5.cont
					p contenido 5
				section#cont6.cont
				//- footer.footer#mensaje
				//- 	form(method="post", id="frmcheck")
				//- 		span.icon-gift.regaloico
				//- 		.msj Suscribete
				//- 		span.icon-user.frmico
				//- 		input(type="text" name="nombre" id="nombre" required placeholder="Nombre" class="input")
				//- 		#apellidos
				//- 			span.icon-user.frmico
				//- 			input(type="text" name="apellido" required placeholder="Apellidos" class="input")
				//- 			span.icon-mail.frmico
				//- 		input(type="email" name="correo" required placeholder="Correo" class="input")
				//- 		button.btn.yellow(type="submit") Suscribirme
				//- 		span.icon-gift.regaloico
				section#cont7.cont
					.videoWrapper
						iframe(src="http://www.hitbox.tv/embed/arequipagamers?popout=true&autoplay=false")
		.faltapara
			//- a( href="" class="falta-anuncio" id="#fa0")
			span.falta-texto
				a(href="https://www.facebook.com/events/1555393368012805/", target="_blank")
					.countdown
						.counter
							div
								span.dias
								span  Días
							div
								span.horas
								span  Horas
							div
								span.minutos
								span  Minutos
							div
								span.segundos
								span  Segundos
						hr.hr
						.countdown_fecha
							//- span.icon-calendar.icouno
							//- span 19 de Setiembre
							//- br
							//- br
							span Para las
							br
							span <b>Olimpiadas por el Desarrollo de Arequipa</b>
		.evento_en_vivo
			#menu
				a(href="#cont7")
					img(src="img/dota-en-vivo.jpg")
		#mensaje
		script(src="js/main.min.js")
